<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Mensajes", "Message", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Html.Partial("_Notificacion")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")

    @*Importante!: No borrar, ya que este el código de arranque de signalR*@
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {

            function alertaNotification(texto) {
                console.log(texto);

                $('#txt-message').text(texto);
                jQuery('#toast-notification').toast('show');
            }

            function setTotalNotification(totalNotificaciones) {
                console.log(totalNotificaciones);

                $('#messages').html(`<span class="badge badge-pill badge-danger">${totalNotificaciones}</badge>`);
            }

            var hub = $.connection.mainHub;

            //llamada del cliente
            hub.client.broadcastNotificaciones = function (totalNotificaciones) {
                setTotalNotification(totalNotificaciones);
            }

            //llamada cuando se envie un nuevo mensaje
            hub.client.showNotificaciones = function (texto) {
                alertaNotification(texto);
            }

            //llamada de notificacion global
            hub.client.sendGlobalNotification = function (message) {
                alertaNotification(message);
            }

            //llamada de notificacion global, excepto al emisor
            hub.client.sendGlobalNotificationExcept = function (message) {
                alertaNotification(message);
            }

            $.connection.hub.start()
                .done(function () {
                    console.log('Hub conectado correctamente!');

                    //llamada al servidor
                    hub.server.getNotification();
                })
                .fail(function () {
                    console.error('No se pudo conectar!');
                });
        });
    </script>
    @*Importante!: No borrar, ya que este el código de arranque de signalR*@

    @RenderSection("scripts", required: false)
</body>
</html>
